// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #7E9DD1;
$yellow: #FDB631;
$orange: #F1C16B;
$green: #32B796;
$gray: #000000;
$light-gray: #FEFEFE;
$text-gray: #3f454B;
