.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% auto 5% auto;
  img {
      margin: 5% auto 5% auto;
      max-height: 300px;
    }
  .summary {
    width: 65%;
    margin-right: 2%;
    h1 {
      margin: 5% auto 5% auto;
    }
    h3 {
      margin: 5% auto 5% auto;
    }
    p {
      margin: 5% auto 5% auto;
    }
  }
}

.links {
  margin: 5% auto 5% auto;
  .card-container {
    width: 100%;
    align: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    opacity: 0.2;
    text-decoration: none;
    color: $text-gray;
    align-items: center;
  }
  .card:hover {
    opacity: 1.0 !important;
  }
  a:hover {
      text-decoration: none;
  }
  @media screen and (max-width: 768px){
    *[class*='col-xs']{
      padding:25px;
    }
  }
}

.offers {
  margin: 5% auto 5% auto;
}

.active {
  opacity: 1.0 !important;
}
