.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
  .summary {
    width: 65%;
    margin-right: 2%;
  }
}

.links {
  .card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
}
