.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .summary {
    width: 65%;
    margin-right: 2%;
  }
}

.links {
  .card {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
