.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% auto 5% auto;
  .summary {
    width: 65%;
    margin-right: 2%;
  }
}

.links {
  margin: 5% auto 5% auto;
  .card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .card {
    display: flex;
    flex-direction: column;
    opacity: 0.2;
  }
  .card:hover {
    opacity: 1.0 !important;
  }
}

.offers {
  margin: 5% auto 5% auto;
}

.active {
  opacity: 1.0 !important;
}
