<div class="faqs container">
  <h1 class="text-center">FAQ</h1>
  <ul>
    <% @faqs.each do |faq| %>
    <li><p><strong><%= faq.question %></strong></p>
      <p><%= faq.answer %></p>
    </li>
    <% end %>
  </ul>
</div>
