<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-left">
    <p style="font-size: 24px;"><img src="<%= image_path('logo.png') %>" alt="Mailbutler"><strong>Mailbutler</strong></p>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">

    <a href="#" class="navbar-item navbar-link">Overview</a>
    <a href="#" class="navbar-item navbar-link">Business</a>
    <a href="#" class="navbar-item navbar-link">Pricing</a>
    <a href="#" class="btn-medium">Login</a>

  </div>
</div>
