<h1>Pages#show</h1>



<div class="features container">
  <div class="summary">
    <h1><%= @feature.header %></h1>
    <h2><%= @feature.subhead %></h2>
  </div>
  <%= cl_image_tag("irzfra81trjx557msaqq",
      width: 400, height: 300, crop: :fill) %>

</div>
