.btn-blue {
  color: $blue !important;
  border: 3px solid $blue;
  padding: 7px 20px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.6;
  font-weight: 900;
}
.btn-blue:hover {
  opacity: 1;
  text-decoration: none;
  color: white !important;
  background-color:$blue;
  transition: all .2s;
}

.btn-cta {
  display: inline-flex;
  // border: 3px solid $orange;
  background-color:$orange;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: lighter;
  text-align: left;
  opacity: 0.6;
  font-weight: 900;
  p {
    margin: 0;
  }
  img {
    height: 50px;
    padding: 0 0 0 15px;
  }
}

.btn-cta:hover {
  opacity: 1;
  text-decoration: none;
  transition: all .2s;
}

.banner-content {
  .btn-blue {
    opacity: 1;
    text-decoration: none;
    color: white !important;
    background-color:$blue;
    font-size: 35px;
  }
  .btn-blue:hover {
    color: white;
    border: 3px solid $blue;
    padding: 7px 20px;
    border-radius: 10px;
    font-weight: lighter;
    opacity: 0.6;
    font-weight: 900;
    transition: all .2s;
  }
}
